@model Product

@*<div>
    <h2>@Model.ProductName</h2>
    <p>@Model.Price</p>
    <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
        <i class="fa-solid fa-arrow-right"></i>
        Get Details
    </a>
    <hr />
</div>*@

<div class="col-sm-12 col-md-4 col-xl-3 my-3">
    <div class="card" style="width: 18rem;"> 
        <img src="~/images/PC.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <a asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-primary">
                <i class="fa-solid fa-arrow-right"></i>
                Get Data
            </a>
        </div>
    </div>
</div>

